@charset "UTF-8";
:root {
  /* Переменные основных цветов */
  --color-brand: #2196f3;
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-third: #f5f4fa;
  --color-fourth: #2f303a;
  --color-cards-portfolio: #eee;
  --color-white: #ffffff;
  --color-white60: rgba(250, 255, 255, 0.6);
  --color-white10: rgba(250, 255, 255, 0.1);
  --color-overlay: rgba(47, 48, 58, 0.4);
  --color-card-overlay: rgba(33, 150, 243, 0.9);
  --color-current: currentColor;
  --color-inactive-icon: #afb1b8;
  --color-bg-specialization: rgba(47, 48, 58, 0.8);
  --color-input-outline: rgba(0, 0, 0, 0.1);
  --color-modal-overlay: rgba(0, 0, 0, 0.2);
  /* Переменные цветов активности */
  --color-active: #2196f3;
  --color-active-button: #188ce8;
  /* Шрифты */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* ЭФФЕКТЫ */
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Тень для кнопок */
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Стиль для скрытых заголовков */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* *Стили для заголовков */
.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: calc(33 / 28);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

/* *Стили для меню */
.menu {
  font-size: 14px;
  line-height: calc(16 / 14);
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.menu__link {
  display: block;
  color: var(--color-primary);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.menu__link:hover, .menu__link:focus {
  color: var(--color-active);
}

.menu__link--active {
  color: var(--color-active);
  position: relative;
}

@media screen and (min-width: 768px) {
  .menu__link--active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    -webkit-transform: translateY(calc(-100% + 1px));
            transform: translateY(calc(-100% + 1px));
    border-radius: 2px;
    background-color: var(--color-active);
  }
}

@media screen and (min-width: 768px) {
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

/* *Стили для кнопок */
.button {
  min-width: 73px;
  padding: 6px 22px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--color-third);
  color: var(--color-primary);
  border-radius: 4px;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
  /* События кнопок */
}

.button:hover, .button:focus {
  color: var(--color-white);
  background-color: var(--color-active);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.card {
  display: block;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__content {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid var(--color-cards-portfolio);
}

.card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-primary);
}

.card__description {
  font-size: 16px;
  line-height: calc(30 / 16);
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

/* Оверлей для карточек */
.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__image {
  max-width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  left: 0;
  top: 0;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  background-color: var(--color-card-overlay);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
  overflow: hidden;
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card__overlay::-webkit-scrollbar {
  width: 0;
}

.card__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0;
  }
}

.filter__item {
  margin-top: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-top: 0;
  }
}

.filter-label__radio-custom {
  display: block;
  height: 38px;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.filter-label__radio-original:checked + .filter-label__radio-custom {
  color: var(--color-white);
  background-color: var(--color-active);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

/* *Стили для логотипа */
.logo {
  display: block;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: calc(36 / 26);
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.logo__color-part {
  color: var(--color-brand);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  color: var(--color-inactive-icon);
  border-radius: 50%;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--color-active);
  color: var(--color-white);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 15px;
  top: 0;
  left: 0;
  background-color: var(--color-modal-overlay);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: calc(100% - 30px);
  padding: 40px;
  background-color: var(--color-white);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.close-button {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-input-outline);
  border-radius: 50%;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.close-button:hover, .close-button:focus {
  color: var(--color-active);
}

.form {
  text-align: center;
}

.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: calc(30 / 20);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form__title {
    font-size: 20px;
    line-height: calc(23 / 20);
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.form__field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.form__textarea {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-secondary);
}

.form__input {
  display: block;
  width: 100%;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: none;
  outline: 1px solid var(--color-input-outline);
  border-radius: 4px;
  -webkit-transition-property: outline;
  transition-property: outline;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.form__input:focus {
  outline: 1px solid var(--color-active);
}

.input-textarea {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  resize: none;
}

.input-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
  pointer-events: none;
}

.form__input:focus + .form__icon {
  color: var(--color-active);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox__label {
  cursor: pointer;
  font-size: 12px;
  line-height: calc(14 / 12);
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-secondary);
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 500;
    letter-spacing: 0.03em;
  }
}

.checkbox__link {
  height: 100%;
  padding: auto;
  text-decoration: none;
  color: var(--color-active);
  text-decoration: underline;
}

.checkbox__custom {
  cursor: pointer;
  min-width: 16px;
  display: inline-block;
  margin-right: 8px;
  border: 2px solid var(--color-primary);
  color: var(--color-white);
  background-color: var(--color-white);
  border-radius: 2px;
  background-origin: border-box;
  -webkit-transition-property: background-color, border, color;
  transition-property: background-color, border, color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.checkbox__original:checked + .checkbox__custom {
  color: var(--color-white);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
}

.form__button-send {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-brand);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.form__button-send:hover, .form__button-send:focus {
  background-color: var(--color-active-button);
}

.mob-menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 10px;
  right: 15px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.mob-menu-button:hover, .mob-menu-button:focus {
  color: var(--color-active);
}

@media screen and (min-width: 768px) {
  .mob-menu-button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mob-menu-button {
    display: none;
  }
}

.mob-menu-button__close-icon {
  display: none;
}

.mob-menu-button.is-open .mob-menu-button__close-icon {
  display: block;
}

.mob-menu-button.is-open .mob-menu-button__menu-icon {
  display: none;
}

.menu-container {
  z-index: 1;
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    overflow-y: auto;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--color-white);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.menu__item {
  font-size: 40px;
  line-height: calc(47 / 40);
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu__item {
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.mob-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mob-social__item {
  position: relative;
}

.mob-social__item:not(:last-child) {
  margin-right: 20px;
}

.mob-social__item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 22px;
  position: absolute;
  left: calc(100% + 10px);
  background-color: rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .mob-social__item {
    display: none;
  }
}

.mob-social__link {
  font-size: 18px;
  line-height: calc(22 / 18);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-brand);
}

/* Глобальные стили страницы */
body {
  font-family: var(--primary-font);
  background-color: var(--color-white);
  color: var(--color-primary);
}

.scroll-hidden {
  overflow: hidden;
}

button {
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

/* Обнуляет подчеркивание ссылок */
a {
  text-decoration: none;
}

/* Обнуляет оформления списков */
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Обнуляет оформления заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* !удалить */
}

@media screen and (min-width: 480px) {
  .container {
    /* !удалить */
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    /* !удалить */
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    /* !удалить */
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--no-padding-bottom {
    padding-bottom: 0px;
  }
}

.section--colored-grey {
  background-color: var(--color-third);
}

@media screen and (max-width: 1199px) {
  .section--display-none {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .header__header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__logo {
  font-size: 24px;
  line-height: calc(28 / 24);
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: calc(31 / 26);
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* *Стили для меню */
.header__menu {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header__menu {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu {
    margin-bottom: 0;
  }
}

/* *Стили для контактов */
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0px;
  }
}

.header-contacts__item:last-child {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-contacts__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .header-contacts__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__icon {
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.header-contacts__link {
  font-size: 24px;
  line-height: calc(28 / 24);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
  /* События контактов */
}

.header-contacts__link--mobiled {
  font-size: 34px;
  line-height: calc(40 / 34);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-active);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--color-active);
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

/* *Стили для Героя */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--color-fourth);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-overlay)), to(var(--color-overlay))), url("../img/hero-bg-mobile.jpg");
  background-image: linear-gradient(to bottom, var(--color-overlay), var(--color-overlay)), url("../img/hero-bg-mobile.jpg");
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-overlay)), to(var(--color-overlay))), url("../img/hero-bg-mobile@2x.jpg");
    background-image: linear-gradient(to bottom, var(--color-overlay), var(--color-overlay)), url("../img/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-overlay)), to(var(--color-overlay))), url("../img/hero-bg-tablet.jpg");
    background-image: linear-gradient(to bottom, var(--color-overlay), var(--color-overlay)), url("../img/hero-bg-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-overlay)), to(var(--color-overlay))), url("../img/hero-bg-tablet@2x.jpg");
    background-image: linear-gradient(to bottom, var(--color-overlay), var(--color-overlay)), url("../img/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-overlay)), to(var(--color-overlay))), url("../img/hero-bg-desktop.jpg");
    background-image: linear-gradient(to bottom, var(--color-overlay), var(--color-overlay)), url("../img/hero-bg-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-overlay)), to(var(--color-overlay))), url("../img/hero-bg-desktop@2x.jpg");
    background-image: linear-gradient(to bottom, var(--color-overlay), var(--color-overlay)), url("../img/hero-bg-desktop@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: calc(42 / 26);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: calc(60 / 44);
    font-weight: none;
    letter-spacing: noneem;
  }
}

.hero__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-brand);
  color: var(--color-white);
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--color-active-button);
  color: var(--color-white);
}

/* *Стили для "Особенности" */
@media screen and (min-width: 768px) {
  .peculiarities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.peculiarities__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarities__item {
    -ms-flex-preferred-size: calc((768px - 60px) / 2);
        flex-basis: calc((768px - 60px) / 2);
  }
  .peculiarities__item:not(:last-child) {
    margin-bottom: 0;
  }
  .peculiarities__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities__item {
    -ms-flex-preferred-size: calc((1200px - 120px) / 4);
        flex-basis: calc((1200px - 120px) / 4);
  }
  .peculiarities__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.peculiarities__thumb {
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-third);
  border-radius: 4px;
}

.peculiarities__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.peculiarities__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

/* Стили для "Чем мы занимаемся"
 */
@media screen and (min-width: 1200px) {
  .specialization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.specialization__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.specialization__item:not(:last-child) {
  margin-right: 30px;
}

.specialization__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-bg-specialization);
}

/* *Стили для "Наша команда"
 */
@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our-team__item {
  background-color: var(--color-white);
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our-team__item {
    -ms-flex-preferred-size: calc((768px - 60px) / 2);
        flex-basis: calc((768px - 60px) / 2);
  }
  .our-team__item:not(:last-child) {
    margin-bottom: 0;
  }
  .our-team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .our-team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: calc(19 / 16);
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-secondary);
}

/* Стили для секции Клиенты */
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  margin-top: 30px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin-bottom: 0;
  }
  .clients__item:not(:first-child) {
    margin-left: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  color: var(--color-inactive-icon);
  border: 1px solid var(--color-inactive-icon);
  border-radius: 4px;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.clients__link:hover, .clients__link:focus {
  color: var(--color-active);
  border: 1px solid var(--color-active);
}

/* *Стили для Портфолио
 */
.portfolio__filter {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio__item {
  background-color: var(--color-white);
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

/* *Стили для Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-fourth);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__logo {
  font-size: 24px;
  line-height: calc(28 / 24);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: calc(31 / 26);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  padding-top: 0;
  padding-bottom: 0;
  color: var(--color-secondary);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.address__link:hover, .address__link:focus {
  color: var(--color-active);
}

@media screen and (min-width: 768px) {
  .footer__subscription {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    margin-left: auto;
    margin-top: 0;
  }
}

.footer__adress {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__adress {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    margin-top: 0;
    text-align: left;
  }
}

.footer__social {
  margin-bottom: 60px;
}

.footer__social-link {
  background-color: var(--color-white10);
  color: var(--color-white);
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--color-active);
}

.footer__form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__email-input {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--color-fourth);
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  outline: solid 1px rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer__email-input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__email-input {
    min-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  font-size: 16px;
  line-height: calc(30 / 16);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-brand);
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__button:hover, .footer__button:focus {
  background-color: var(--color-active-button);
}

.footer__button-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */