/* *Стили для логотипа */
.logo {
  display: block;

  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}

.logo__color-part {
  color: var(--color-brand);
}
