.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  /* !удалить */
  // background-color: rgb(255, 0, 0);
  @include mobile {
    /* !удалить */
    // background-color: rgb(7, 119, 119);
    width: 480px;
  }

  @include tablet {
    /* !удалить */
    // background-color: rgb(56, 7, 119);
    width: 768px;
  }

  @include desktop {
    /* !удалить */
    // background-color: rgb(119, 7, 59);
    width: 1200px;
  }
}
