/* *Стили для "Особенности" */
.peculiarities {
  @include flexAlign();
}

.peculiarities__item {
  flex-basis: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.peculiarities__thumb {
  height: 120px;
  margin-bottom: 30px;
  @include flexAlign();

  background-color: var(--color-third);

  border-radius: 4px;
}

.peculiarities__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarities__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-secondary);
}
